<div class="row">
	<div class="col-md-6"><img src="/images/hipagesgroup.gif" alt="hipagesGroup" class="img-responsive center-block logo" /></div>
	<h1 class="text-center h3 text-primary col-md-6 gg_title">Girl Geeks Sydney Challenge</h1>
</div>
<div class="row">	
	<img src="/images/prize.png" class="img-responsive center-block col-md-6 pull-right" alt="prize up for grabs! Nexus 5 and Android Gear Live" />
	<div class="col-md-6 pull-left">
		<p class="text-center h3 text-info">Congrats, you did it!</p>
		<p class="text-center text-muted lead">Please fill out your details below.  We're drawing the winner at the end of tonight's event!</p>

		<hr>

		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <div class="col-xs-12">
		      <input type="text" name="firstname" class="form-control input-lg" placeholder="First Name" />
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-xs-12">
		      <input type="text" name="lastname" class="form-control input-lg" placeholder="Last Name" />
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-xs-12">
		      <input type="email" name="email" class="form-control input-lg" placeholder="Email Address" />
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-xs-12">
		      <input type="text" name="twitter" class="form-control input-lg" placeholder="@twitter" />
		    </div>
		  </div>

		  <div class="form-group">
		    <div class="col-xs-12">
		      <button type="submit" class="btn btn-success btn-lg btn-block">Win Geek Gear!</button>
		    </div>
		  </div>
		</form>
	</div>
</div>
